
body {
    margin: 0;
    padding: 0;
}

/* header---------------- */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#mainvis img{
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

.imag-profile {

    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}

.img-profile a{
    display: block;
}



.img-profile {
    width: 120px;
    display: block;
}

ul {
    display: flex;

}

.list {
    margin-left: 30px;
}

main{
    display: block;
}
#mainvis{
    margin-bottom: 100px;
}

/* section1------------- */

.section-title {
    display: inline-block;
    font-size: 33px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #35373a;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;

}
.cover {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;

}


#about img {
    width: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

.content-title {
    text-align: left;
    font-size: 16px;
    font-weight: 900;

}

p {
    font-size: 1rem;
    margin: 10px 0;
}


#about .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about.text{
    text-align: left;
}


@media screen and (max-width: 600px) {

    /*-------------------------------------------
    Mainvisual-*/
    #mainvis img {
      height: calc(100vh - 60px);
    }
  
    /*-------------------------------------------
    About
    -------------------------------------------*/
    #about .content {
      flex-direction: column;
    }
    #about img {
      margin-right: 0;
    }
  
    /*-------------------------------------------
    Bicycle
    -------------------------------------------*/
    #bicycle ul {
      flex-direction: column;
    }
    #bicycle li {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  

